body {
  font-family: sans-serif;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #aaa;
  padding: 6px;
}

#previewImg {
  width: 800px;
  border: 1px solid #ccc;
}

#loading {
  font-size: 20px;
  color: #444;
}
